
{% extends 'base.html' %}

{% block body %}
<br/> 
<div class="container-fluid bg-3 text-center">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
       <a href='/#'>  <img src="../static/images/ml_title.png"
     class="img-responsive"  alt="Image"></a>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>
<div class="container-fluid bg-3 text-center">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
       <img src="../static/images/arrow_upper.png"
     class="img-responsive" style="width: 1000px" alt="Image">
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>
<div class="container-fluid bg-3 text-center">
  <div class="row">
     <div class="col-sm-2">
      <!--  <img src="../static/images/supervised_learning.png"
     class="img-responsive"  alt="Image"> -->
    </div>
    <div class="col-sm-2" style="margin-left: 50px;" >
         <a href='/#'><img src="../static/images/supervised_learning.png"
     class="img-responsive"  alt="Image"></a>
    </div>
    <div class="col-sm-2" >
       <a href='/#'> <img src="../static/images/unsupervised_learning.png"
     class="img-responsive"  alt="Image"></a>
    </div>
    <div class="col-sm-2">
        <a href='/#'> <img src="../static/images/reinforcement_learning.png"
     class="img-responsive"  alt="Image"></a>
    </div>
     <div class="col-sm-3">
      <!--  <img src="../static/images/supervised_learning.png"
     class="img-responsive"  alt="Image"> -->
    </div>
  </div>
</div>
<div class="container-fluid bg-3 text-center">
  <div class="row">
     <div class="col-sm-2">
        
     </div>
        <div class="col-sm-3">
       <img src="../static/images/left_arrow.png"
     class="img-responsive"  alt="Image">

     </div>
        <div class="col-sm-2" >
   <img src="../static/images/middle_arrow.png"
     class="img-responsive" alt="Image">
     </div>
    
        <div class="col-sm-3">
      <img src="../static/images/right_arrow.png"
     class="img-responsive" style="width: 1000px" alt="Image">
     </div>
   </div>
 </div>

{% endblock %}
<br/>
